@import "tailwindcss";

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  header, #filter-bar-container, .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
}
